/* @import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Merienda:wght@300..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --light:#a45fe6;
    --dark:#5639a6;
    --white: #fcfafa;
    --yellow: #fdbe34;  
}
*{

    /* font-family: "Merienda", cursive; */
    font-family: "Jost", sans-serif;
    /* text-transform: uppercase; */
}
body{
    background-image: url(./images/10444284.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.hide{
    visibility: hidden;
}
.show{
    visibility: visible;
}

#persontage{
    color: var(--yellow);
}

li{
    /* background-color: #ff00009f; */
    /* background-color: #0004ff9f; */
    border-radius: 5px;
    /* pointer-events: none; */
    padding: 2px 5px;
    transition-duration: 0.4s;
}
h1,h3{
    text-transform: uppercase;
}

li:hover{
cursor: pointer;
background-color: var(--light);
border-radius: 5px;

}
#quizSecStdDta{
/* color: black; */
font-weight: 600;
}

#quizSecStdDta span,#count,#quizTime{
color: var(--yellow);
}

#startbtn{
    /* border: 1px solid red; */
    text-align: center;
    
    position: absolute;
    top: 170px;
    left: 500px;

    width: 20%;
    
}
#startbtn button{
   background-color: var(--yellow);
   border: none;
   padding: 16px 40px;
   border-radius: 40px;
   font-size: 1.3rem;
    font-weight: bold;
    box-shadow: 4px 6px 20px 2px #000000e1;
    cursor: pointer;
    transition-duration: 0.4s;
}
#startbtn button:hover{
    box-shadow: 0px 0px 10px 1px #000000b6;   
    background-color: var(--dark);
    color: var(--white);
}
#quizContainer{
    background-color: var(--dark);
    color: white;
    padding: 10px 40px;
    position: absolute;
    height: 80vh;
    width: 60%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;

    border-radius: 20px;
    box-shadow: 4px 10px 20px 2px #000000e1;

    left: 30%;
    top: 6%;

    font-family: "Luckiest Guy", cursive;
}
#result{
    color: var(--yellow);
}
#qiuzUI{
width: 90%;
    /* border: 1px solid red; */
}

#Quizquiestion{
    width: 90%;
    /* font-size: 1.3rem; */
    /* border: 1px solid red; */
}
#layout ,#qiuzUI{
    border-bottom: 3px solid var(--yellow);
    margin: 6px 0px;
    
}

#layout{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
    width: 90%;
}
#footer{
    /* border: 1px solid red; */
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#footer #nextBtn button{
  background-color: var(--white);
  border: none;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  /* transition-duration: 0.5s; */
  background-color: var(--yellow);
  color: black;
}
#footer #nextBtn button:hover{
    background-color: var(--white);
    color: black;
}
#resultUI{
    /* border: 1px solid red; */
    width: 40%;
    padding: 20px;
    background-color: var(--dark);
    border-radius: 10px;
    color: white;
    position: absolute;
    top: 15%;
    left: 30%;
    box-shadow: 4px 10px 20px 2px #0000008f;
    /* height: 60vh; */

    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    line-height: -100;
    /* flex-direction: column; */
}
#resultUI form button{
    background-color: var(--white);
    border: none;
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    transition-duration: 0.5s;
    background-color: var(--yellow);
    color: black;
}
#stdLogin{
    /* border: 1px solid red; */
    border-radius: 20px;
    background-color: var(--dark);
    padding: 20px 40px;
    width: 60%;
    height: 60vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: absolute;
    top: 15%;
    left: 20%;

}

#stdLogin h1{
    color: var(--white);
}

#stdLogin form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /* border: 1px solid red; */
    width: 80%;
}
#stdLogin form input{
  width: 100%;
  padding: 12px 20px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
   box-shadow: 4px 10px 20px 2px #00000080;
   text-transform: uppercase;
}
#stdLogin form button{
    background-color: var(--white);
    border: none;
    padding: 10px 50px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    transition-duration: 0.5s;
    background-color: var(--yellow);
    color: black;
    font-size: 17px;
     box-shadow: 4px 10px 20px 2px #00000073;
}
#nameError{
    background-color: var(--white);
    margin:10px;
    width: 100%;
    background: var(--yellow);
    color: black;
    font-weight: 500;
}
#rollNumbererror{
    background-color: var(--white);
    margin:10px;
    width: 100%;
    background: var(--yellow);
    color: black;
    font-weight: 500;
}
@media (max-width:600px) {
    body{
       height: 97vh;
       
    }
    #stdLogin{
        text-align: center;
        
        position: relative;
        top: 5%;
        left: 8%;
        /* width: 100%; */
}
#startbtn{
    
    text-align: center;
        /* border: 1px solid red; */
        
        position: absolute;
        top: 350px;
        left: 50px;
        
        width: 50%;
        
    }
    #startbtn button{
    font-size: 16px;
    padding: 12px 20px;

}
#quizContainer{
    /* border: 1px solid red; */
}
#quizContainer{
    
    height: 80vh;
    width: 60%;

    left: 10%;
    top: 4%;

}
#layout{
    font-size: 15px;
    padding: 1px;
    width: 100%;
}
#quiestion{
    font-size: 15px;
    width: 100%;
}
#quizLI{
    /* border: 1px solid red; */
    width: 100%;
    font-size: 14px;
}
#resultUI{
    width: 60%;
    left: 15%;
}
}
@media only screen and (min-width:600px) and (max-width:1200px) {
    body{
        height: 97vh;
    }
    #startbtn{
    
        text-align: center;
            /* border: 1px solid red; */
            
            position: absolute;
            top: 300px;
            left: 50px;
            
            width: 50%;
            
        }
        #quizContainer{
    
            height: 80vh;
            width: 60%;
        
            left: 10%;
            top: 5%;
        
        }
        #quiestion{
            font-size: 16px;
            width: 100%;
        }
        #quizLI{
            /* border: 1px solid red; */
            width: 100%;
            font-size: 15px;
        }
        #resultUI{
            width: 60%;
            left: 15%;
        }
}
/* @media screen only(min-width:600) {
    
} */