
body{
    background-image: url(./images/backshot.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.hide{
    visibility: hidden;
}
.show{
    visibility: visible;
}

li{
    /* pointer-events: none; */
}
h1,h3{
    text-transform: uppercase;
}

li:hover{
cursor: pointer;
background-color: rgb(224, 224, 224);

}